{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="font-mono font-bold text-zinc-900 text-4xl mx-3 mt-10 px-5 md:mx-[100px] md:mt-[50px]">
    About
</div>

<div class="font-sans text-zinc-900 text-xl mx-3 my-5 p-5 md:mx-[100px]">
    <div class="bg-stone-300 rounded-lg p-5 mb-3">
        <p class="mb-5">
            ✒ Enoto is my final project for CS50x. For the project, students have to write software 
            that would 'outlive the course', to make something that would not only be beneficial to 
            progress our understanding but also something that other people would find valuable.
        </p>

        <p class="mb-5">
            There were only two strict requirements: a youtube video & to write documentation for the project. 
            The documentation had to be written in Markdown, so I started researching what Markdown was and 
            how it's used on the web. I found out about how portable Markdown is, and the various ways people use it.
        </p>

        <p class="mb-5">
            I found it quite interesting, so I decided on the idea of writing my own Markdown editor but with 
            a few features to make it a bit more accessible for others. I hope my text editor can be of some 
            use to you. I'll consider improving it in the future to make it a more complete and substantial program.
        </p>

        <p class="mb-5">
            If you'd like to learn more about my project & how it works, 
            you can check out the documentation on my <a href="https://github.com/tsdenouden" target="_blank" class="hover:underline">Github page</a>. 
            Or if you'd like a summary, check out my <a href="https://www.youtube.com/channel/UCFtJ-g7eYrA9LUcaSOiBBBA/featured" target="_blank" 
            class="hover:underline">Youtube channel.</a>
        </p>
        
        <p>
            If you have questions, don't hesitate to contact me on any of the platforms I've
            provided 🙂.
        </p>
    </div>
    
</div>

{% endblock %}
