{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div>
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <h1> User Portfolio </h1>
            </thead>
            <tbody>
                <tr>
                    <th class="text-start"> Symbol </th>
                    <th class="text-start"> Name </th>
                    <th class="text-end"> Shares </th>
                    <th class="text-end"> Price </th>
                    <th class="text-end"> Total </th>
                </tr>
                {% for i in range(count) %}
                    <tr>
                        <td class="text-start"> {{ stocks[i] }} </td>
                        <td class="text-start"> {{ names[i] }} </td>
                        <td class="text-end"> {{ shares[i] }} </td>
                        <td class="text-end"> {{ price[i] | usd }} </td>
                        <td class="text-end"> {{ holding[i] | usd }} </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end"> {{ cash | usd }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end"> {{ total | usd}}</td>
                </tr>
            </tfoot>
        </table>
    </main>
</div>
{% endblock %}